service:
  name: hackthecrisisjp2020
# app and org for use with dashboard.serverless.com
#app: your-app-name
#org: your-org-name

custom:
  stages:
    - local
    - dev
    - production
  webpack:
    webpackConfig: ./webpack.config.js
    includeModules: true
  dotenv:
    path: ./.env
    include:
      - LINE_NOTIFY_CLIENT_ID
      - LINE_NOTIFY_CLIENT_SECRET
      - FIREBASE_API_KEY
      - FIREBASE_AUTH_DOMAIN
      - FIREBASE_PROJECT_ID
      - LINE_NOTIFY_REDIRECT_URL

# Add the serverless-webpack plugin
plugins:
  - serverless-webpack
  - serverless-dotenv-plugin
  - serverless-offline

provider:
  name: aws
  stage: ${opt:stage, 'local'}
  runtime: nodejs12.x
  region: ap-northeast-1
  apiGateway:
    minimumCompressionSize: 1024 # Enable gzip compression for responses > 1 KB
  environment:
    AWS_NODEJS_CONNECTION_REUSE_ENABLED: 1

functions:
  app:
    handler: src/app.handler
    memorySize: 128
    timeout: 900
    events:
      - http: ANY /
      - http: ANY /{proxy+}

  scheduleApp:
    handler: src/schedule.handler
    memorySize: 128
    timeout: 900
    events:
      - schedule: rate(1 minute)
